<% hospital = Hospital.find_by("id" => params["id"]) %>

<h1>Edit Hospitals #<%= hospital["id"] %></h1>

<form action="/hospitals/<%= hospital["id"] %>" method="patch">

  <p>
    <label>Hospital name:</label>
    <input type="text" name="name" value="<%=hospital["hospname"] %>">
  </p>
  <p>
    <label>Country:</label>
    <input type="text" name="country" value="<%=hospital["hcountry"] %>">
  </p>
  <p>
    <label>State:</label>
    <input type="text" name="state" value="<%=hospital["hstate"] %>">
  </p>
  <p>
    <label>Zip:</label>
    <input type="text" name="zip" value="<%=hospital["hzip"] %>">
  </p>
  <p>
    <label>City:</label>
    <input type="text" name="city" value="<%=hospital["hcity"] %>">
  </p>
  <p>
    <label>Photo url:</label>
    <input type="text" name="photourl" value="<%=hospital["hphotourl"] %>">
  </p>
  <p>
    <label>Year Established:</label>
    <input type="integer" name="year" value="<%=hospital["hyear"] %>">
  </p>
  <p>
    <label>Address:</label>
    <input type="text" name="address" value="<%=hospital["haddress"] %>">
  </p>
  <p>
    <label>Type:</label>
    <input type="text" name="type"  value="<%=hospital["htype"] %>">
  </p>
  <p>
    <label>Phone:</label>
    <input type="text" name="phone" value="<%=hospital["hphone"] %>">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email" value="<%=hospital["hemail"] %>">
  </p>
  <p>
    <label>Website:</label>
    <input type="text" name="url" value="<%=hospital["hurl"] %>">
  </p>
  <p>
    <label>Specilization #1:</label>
    <input type="text" name="specilization1"  value="<%=hospital["hspecialization1"] %>">
  </p>
  <p>
    <label>Specilization #2:</label>
    <input type="text" name="specilization2"  value="<%=hospital["hspecialization2"] %>">
  </p>
  <p>
    <label>No. of Beds:</label>
    <input type="integer" name="beds" value="<%=hospital["hbeds"] %>">
  </p>


  <input type="submit"> or <a href="/hospitals">Cancel</a>

</form>
