<% hospital = Hospital.find_by("id" => params["id"]) %>

<h1>Edit Hospital #<%= hospital["id"] %></h1>

<%= form_tag "/hospitals/#{hospital["id"]}" , "method" => "patch" %>

  <p>
    <%= label_tag "name" , "Hospital name:" %>
    <%= text_field_tag "name" , hospital["hospname"] %>
  </p>
  <p>
    <%= label_tag "country" , "Country:" %>
    <%= text_field_tag "country" , hospital["hcountry"] %>
  </p>
  <p>
    <%= label_tag "state" , "State:" %>
    <%= text_field_tag "state" , hospital["hstate"] %>
  </p>
  <p>
    <%= label_tag "zip" , "Zip:" %>
    <%= text_field_tag "zip" , hospital["hzip"] %>
  </p>
  <p>
    <%= label_tag "city" , "City:" %>
    <%= text_field_tag "city" , hospital["hcity"] %>
  </p>
  <p>
    <%= label_tag "photourl" , "Photo url:" %>
    <%= text_field_tag "photourl" , hospital["hphotourl"] %>
  </p>
  <p>
    <%= label_tag "year" , "Year Established:" %>
    <%= text_field_tag "year" , hospital["hyear"] %>
  </p>
  <p>
    <%= label_tag "address" , "Address:" %>
    <%= text_field_tag "address" , hospital["haddress"] %>
  </p>
  <p>
    <%= label_tag "type" , "Type:" %>
    <%= text_field_tag "type" , hospital["htype"] %>
  </p>
  <p>
    <%= label_tag "phone" , "Phone:" %>
    <%= text_field_tag "phone" , hospital["hphone"] %>
  </p>
  <p>
    <%= label_tag "email" , "Email:" %>
    <%= text_field_tag "email" , hospital["hemail"] %>
  </p>
  <p>
    <%= label_tag "url" , "Website:" %>
    <%= text_field_tag "url" , hospital["hurl"] %>
  </p>
  <p>
    <%= label_tag "specilization1" , "Specilization #1:" %>
    <%= text_field_tag "specilization1" , hospital["hspecialization1"] %>
  </p>
  <p>
    <%= label_tag "specilization2" , "Specilization #2:" %>
    <%= text_field_tag "specilization2" , hospital["hspecialization2"] %>
  </p>
  <p>
    <%= label_tag "hbeds" , "No. of Beds:" %>
    <%= text_field_tag "hbeds" , hospital["hbeds"] %>
  </p>

  <%= submit_tag %> or <%= link_to "Cancel" , "/hospitals" %>

</form>
