
<% all_hospitals = Hospital.read %>

<h2>Hospitals:</h2>
<br><%= link_to "Click to add a New Hospital", "/hospitals/new" %>
<br><br>

<ul>
  <% all_hospitals.each do |hospital| %>
    <li>
      <%= image_tag hospital["hphotourl"], "width" => "120" %>
      <%= link_to hospital["hospname"], "/hospitals/#{hospital["id"]}" %>
      (<%= link_to "Delete", "/hospitals/#{hospital["id"]}", "method" => "delete" %>)
      (<%= link_to "Edit", "/hospitals/#{hospital["id"]}/edit" %>)
    </li>
  <% end %>
</ul>

