<h1> Hospitals & Doctors Review Website </h1>

Currently we have <%= Hospital.read("hcountry" => "United States").count %> hospitals from United States and <%= Hospital.read("hcountry" => "Canada").count %> from Canada on this website.
<br><%= link_to "Click to add a New Hospital", "/hospitals/new" %>
<br>
<br>
<hr>

<% all_hospitals = Hospital.read %>

<h2>Hospitals:</h2>

<ul>
  <% all_hospitals.each do |hospital| %>
    <li>
      <%= image_tag hospital["hphotourl"], "width" => "120" %>
      <%= link_to hospital["hospname"], "/hospitals/#{hospital["id"]}" %>
      (<%= link_to "Delete", "/hospitals/#{hospital["id"]}", "method" => "delete" %>)
      (<%= link_to "Edit", "/hospitals/#{hospital["id"]}/edit" %>)
    </li>
  <% end %>
</ul>

